In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
from matplotlib.patches import Circle, Rectangle, Arc
from sklearn import mixture
from sklearn import ensemble
from sklearn import model_selection
from sklearn.metrics import accuracy_score as accuracy
from sklearn.metrics import log_loss
import time
import itertools
import operator
from sklearn.ensemble import RandomForestClassifier

plt.rcParams["font.family"] = 'NanumBarunGothic'

In [2]:
sub1 = pd.read_pickle('submission1.pkl')
sub2 = pd.read_pickle('submission2.pkl')

In [3]:
sub2.head()

     shot_id  shot_made_flag
694        1        0.361250
695        8        0.290682
696       17        0.549731
697       20        0.663001
698       33        0.361250

In [4]:
submission = sub1.merge(sub2, on='shot_id')
submission.head()

   shot_id  shot_made_flag_x  shot_made_flag_y
0        1          0.349585          0.361250
1        8          0.224715          0.290682
2       17          0.626918          0.549731
3       20          0.754213          0.663001
4       33          0.349585          0.361250

In [5]:
submission['shot_made_flag'] = 0.5*submission['shot_made_flag_x'] + 0.5*submission['shot_made_flag_y']
submission.head()

   shot_id  shot_made_flag_x  shot_made_flag_y  shot_made_flag
0        1          0.349585          0.361250        0.355418
1        8          0.224715          0.290682        0.257698
2       17          0.626918          0.549731        0.588325
3       20          0.754213          0.663001        0.708607
4       33          0.349585          0.361250        0.355418

In [6]:
submission = submission.drop(['shot_made_flag_x', 'shot_made_flag_y'], axis=1)
submission.head()

   shot_id  shot_made_flag
0        1        0.355418
1        8        0.257698
2       17        0.588325
3       20        0.708607
4       33        0.355418

# For 5th quarter added 
### Score 0.60561
### Rank 358/1117

In [7]:
submission.to_csv("sub.csv",index=False) # 703/1117