In [14]:
import pandas as pd
import numpy as np
import json

In [13]:
pd.read_json('./samsunghealth_821086531644_201902021145/jsons/com.samsung.health.exercise/00bef178-06b4-42bd-a2d6-7cad4cf0c0b1.location_data.json')

   accuracy   latitude   longitude          start_time  version
0     20.00  37.547858  126.837071 2018-04-27 11:35:00        2
1     19.65  37.548142  126.840908 2018-04-27 11:40:00        2
2     24.00  37.549169  126.843515 2018-04-27 11:45:00        2
3     35.00  37.549689  126.844652 2018-04-27 11:50:00        2

In [22]:
pd.read_json('./samsunghealth_821086531644_201902021145/jsons/com.samsung.health.exercise/00bef178-06b4-42bd-a2d6-7cad4cf0c0b1.live_data.json')

    calorie    distance  segment     speed              start_time
0      4.13   77.950004        1  1.390620 2018-04-27 11:34:00.219
1      4.50   90.210000        1  1.684044 2018-04-27 11:35:00.000
2      4.36   84.310000        1  1.447826 2018-04-27 11:36:00.000
3      4.48   88.150001        1  1.537624 2018-04-27 11:37:00.347
4      6.23  109.940002        1  2.055556 2018-04-27 11:38:00.000
5      5.61  100.080002        1  1.916667 2018-04-27 11:39:00.000
6      4.20   81.220000        1  1.437304 2018-04-27 11:40:00.000
7      4.64   86.049998        1  1.440342 2018-04-27 11:41:00.175
8      4.89   82.300003        1  1.500000 2018-04-27 11:42:00.000
9      4.46   84.010002        1  1.583333 2018-04-27 11:43:00.000
10     6.39   73.820000        1  1.416667 2018-04-27 11:44:00.000
11     4.40   87.040001        1  1.583333 2018-04-27 11:45:00.000
12     4.24   83.779999        1  1.611111 2018-04-27 11:46:00.000
13     4.36   84.900002        1  1.527778 2018-04-27 11:47:00.000
14     4.04   78.860001        1  1.527778 2018-04-27 11:48:00.000
15     2.83   55.959999        1  1.611111 2018-04-27 11:49:25.000
16     4.60   92.059998        1  1.694444 2018-04-27 11:50:00.000
17     2.84   55.860001        1  1.555556 2018-04-27 11:51:00.000

In [45]:
with open('./samsunghealth_821086531644_201902021145/jsons/com.samsung.shealth.activity.day_summary/f85d7975-ec8d-428f-ad60-4b5d5bcebf53.extra_data.json') as f:
    data = json.load(f)
#list(data.keys())
#pd.DataFrame.from_dict(data, orient='index')
pd.DataFrame(data['mActivityList',
 'mAdaptiveGoal',
 'mIsGoalAchieved',
 'mIsMostActiveAchieved',
 'mMostActiveMinutes',
 'mStreakDayCount',
 'mUnitDataList'])

,mActiveTime,mActiveTimeType,mCalorie,mCategory,mDetailInfoId,mDistance,mDuration,mEndTime,mStartTime,mType
0,669602,0,43.96,204,08c0a61c-a5e3-4d15-9abb-11ff42b4dd1f,816.51,670000,76930000,76260000,1001

In [51]:
list(data.values())

[[{'mActiveTime': 669602,
   'mActiveTimeType': 0,
   'mCalorie': 43.96,
   'mCategory': 204,
   'mDetailInfoId': '08c0a61c-a5e3-4d15-9abb-11ff42b4dd1f',
   'mDistance': 816.51,
   'mDuration': 670000,
   'mEndTime': 76930000,
   'mStartTime': 76260000,
   'mType': 1001}],
 0,
 False,
 False,
 0,
 0,
 [{'distance': 39.049995,
   'mCalorie': 2.0799997,
   'mOthersTime': 0,
   'mRunTime': 1200,
   'mStartTime': 22200000,
   'mTimeUnit': 600000,
   'mWalkTime': 30015,
   'runStep': 3,
   'walkStep': 45},
  {'distance': 7.07,
   'mCalorie': 0.34,
   'mOthersTime': 0,
   'mRunTime': 0,
   'mStartTime': 24000000,
   'mTimeUnit': 600000,
   'mWalkTime': 5336,
   'runStep': 0,
   'walkStep': 8},
  {'distance': 108.38,
   'mCalorie': 5.7799997,
   'mOthersTime': 0,
   'mRunTime': 0,
   'mStartTime': 25200000,
   'mTimeUnit': 600000,
   'mWalkTime': 96048,
   'runStep': 0,
   'walkStep': 144},
  {'distance': 674.76996,
   'mCalorie': 35.629997,
   'mOthersTime': 0,
   'mRunTime': 0,
   'mStartTime': 25800000,
   'mTimeUnit': 600000,
   'mWalkTime': 523385,
   'runStep': 0,
   'walkStep': 891},
  {'distance': 7.37,
   'mCalorie': 0.49,
   'mOthersTime': 0,
   'mRunTime': 0,
   'mStartTime': 26400000,
   'mTimeUnit': 600000,
   'mWalkTime': 5336,
   'runStep': 0,
   'walkStep': 8},
  {'distance': 287.8,
   'mCalorie': 15.709999,
   'mOthersTime': 0,
   'mRunTime': 0,
   'mStartTime': 27600000,
   'mTimeUnit': 600000,
   'mWalkTime': 252733,
   'runStep': 0,
   'walkStep': 385},
  {'distance': 394.4,
   'mCalorie': 20.599998,
   'mOthersTime': 0,
   'mRunTime': 660,
   'mStartTime': 28200000,
   'mTimeUnit': 600000,
   'mWalkTime': 304706,
   'runStep': 2,
   'walkStep': 503},
  {'distance': 249.07999,
   'mCalorie': 13.259999,
   'mOthersTime': 0,
   'mRunTime': 7463,
   'mStartTime': 28800000,
   'mTimeUnit': 600000,
   'mWalkTime': 152557,
   'runStep': 24,
   'walkStep': 278},
  {'distance': 33.789997,
   'mCalorie': 2.04,
   'mOthersTime': 0,
   'mRunTime': 0,
   'mStartTime': 33000000,
   'mTimeUnit': 600000,
   'mWalkTime': 26013,
   'runStep': 0,
   'walkStep': 39},
  {'distance': 5.52,
   'mCalorie': 0.28,
   'mOthersTime': 0,
   'mRunTime': 0,
   'mStartTime': 34200000,
   'mTimeUnit': 600000,
   'mWalkTime': 4669,
   'runStep': 0,
   'walkStep': 7},
  {'distance': 31.369999,
   'mCalorie': 1.74,
   'mOthersTime': 0,
   'mRunTime': 0,
   'mStartTime': 34800000,
   'mTimeUnit': 600000,
   'mWalkTime': 28681,
   'runStep': 0,
   'walkStep': 43},
  {'distance': 11.709999,
   'mCalorie': 0.53999996,
   'mOthersTime': 0,
   'mRunTime': 0,
   'mStartTime': 37200000,
   'mTimeUnit': 600000,
   'mWalkTime': 9338,
   'runStep': 0,
   'walkStep': 14},
  {'distance': 32.41,
   'mCalorie': 1.68,
   'mOthersTime': 0,
   'mRunTime': 0,
   'mStartTime': 37800000,
   'mTimeUnit': 600000,
   'mWalkTime': 28014,
   'runStep': 0,
   'walkStep': 42},
  {'distance': 35.1,
   'mCalorie': 1.8399999,
   'mOthersTime': 0,
   'mRunTime': 0,
   'mStartTime': 38400000,
   'mTimeUnit': 600000,
   'mWalkTime': 30682,
   'runStep': 0,
   'walkStep': 46},
  {'distance': 57.090004,
   'mCalorie': 3.05,
   'mOthersTime': 0,
   'mRunTime': 0,
   'mStartTime': 39600000,
   'mTimeUnit': 600000,
   'mWalkTime': 50692,
   'runStep': 0,
   'walkStep': 76},
  {'distance': 138.86,
   'mCalorie': 7.4700003,
   'mOthersTime': 0,
   'mRunTime': 0,
   'mStartTime': 40200000,
   'mTimeUnit': 600000,
   'mWalkTime': 118696,
   'runStep': 0,
   'walkStep': 186},
  {'distance': 155.40999,
   'mCalorie': 8.13,
   'mOthersTime': 0,
   'mRunTime': 0,
   'mStartTime': 41400000,
   'mTimeUnit': 600000,
   'mWalkTime': 135401,
   'runStep': 0,
   'walkStep': 203},
  {'distance': 54.910004,
   'mCalorie': 2.78,
   'mOthersTime': 0,
   'mRunTime': 0,
   'mStartTime': 42000000,
   'mTimeUnit': 600000,
   'mWalkTime': 46023,
   'runStep': 0,
   'walkStep': 69},
  {'distance': 5.13,
   'mCalorie': 0.29,
   'mOthersTime': 0,
   'mRunTime': 0,
   'mStartTime': 42600000,
   'mTimeUnit': 600000,
   'mWalkTime': 4669,
   'runStep': 0,
   'walkStep': 7},
  {'distance': 57.679996,
   'mCalorie': 2.9099996,
   'mOthersTime': 0,
   'mRunTime': 0,
   'mStartTime': 44400000,
   'mTimeUnit': 600000,
   'mWalkTime': 48691,
   'runStep': 0,
   'walkStep': 73},
  {'distance': 157.83002,
   'mCalorie': 8.2199955,
   'mOthersTime': 0,
   'mRunTime': 0,
   'mStartTime': 48600000,
   'mTimeUnit': 600000,
   'mWalkTime': 136735,
   'runStep': 0,
   'walkStep': 205},
  {'distance': 571.84015,
   'mCalorie': 28.769987,
   'mOthersTime': 0,
   'mRunTime': 0,
   'mStartTime': 49200000,
   'mTimeUnit': 600000,
   'mWalkTime': 475541,
   'runStep': 0,
   'walkStep': 717},
  {'distance': 167.36006,
   'mCalorie': 8.449997,
   'mOthersTime': 0,
   'mRunTime': 0,
   'mStartTime': 49800000,
   'mTimeUnit': 600000,
   'mWalkTime': 126700,
   'runStep': 0,
   'walkStep': 211},
  {'distance': 9.45,
   'mCalorie': 0.47999996,
   'mOthersTime': 0,
   'mRunTime': 0,
   'mStartTime': 50400000,
   'mTimeUnit': 600000,
   'mWalkTime': 8004,
   'runStep': 0,
   'walkStep': 12},
  {'distance': 135.27998,
   'mCalorie': 7.13,
   'mOthersTime': 0,
   'mRunTime': 0,
   'mStartTime': 52200000,
   'mTimeUnit': 600000,
   'mWalkTime': 118059,
   'runStep': 0,
   'walkStep': 177},
  {'distance': 163.05,
   'mCalorie': 8.59,
   'mOthersTime': 0,
   'mRunTime': 0,
   'mStartTime': 52800000,
   'mTimeUnit': 600000,
   'mWalkTime': 142071,
   'runStep': 0,
   'walkStep': 213},
  {'distance': 34.03,
   'mCalorie': 2.0100002,
   'mOthersTime': 0,
   'mRunTime': 400,
   'mStartTime': 54600000,
   'mTimeUnit': 600000,
   'mWalkTime': 27347,
   'runStep': 1,
   'walkStep': 41},
  {'distance': 27.07,
   'mCalorie': 1.3500001,
   'mOthersTime': 0,
   'mRunTime': 0,
   'mStartTime': 55800000,
   'mTimeUnit': 600000,
   'mWalkTime': 22678,
   'runStep': 0,
   'walkStep': 34},
  {'distance': 104.24,
   'mCalorie': 5.65,
   'mOthersTime': 0,
   'mRunTime': 0,
   'mStartTime': 56400000,
   'mTimeUnit': 600000,
   'mWalkTime': 92713,
   'runStep': 0,
   'walkStep': 139},
  {'distance': 247.95,
   'mCalorie': 15.2,
   'mOthersTime': 0,
   'mRunTime': 17600,
   'mStartTime': 57000000,
   'mTimeUnit': 600000,
   'mWalkTime': 160080,
   'runStep': 44,
   'walkStep': 240},
  {'distance': 27.789999,
   'mCalorie': 1.39,
   'mOthersTime': 0,
   'mRunTime': 0,
   'mStartTime': 58200000,
   'mTimeUnit': 600000,
   'mWalkTime': 22678,
   'runStep': 0,
   'walkStep': 34},
  {'distance': 146.0,
   'mCalorie': 7.7199993,
   'mOthersTime': 0,
   'mRunTime': 1200,
   'mStartTime': 62400000,
   'mTimeUnit': 600000,
   'mWalkTime': 122728,
   'runStep': 3,
   'walkStep': 184},
  {'distance': 329.31,
   'mCalorie': 18.4,
   'mOthersTime': 0,
   'mRunTime': 14800,
   'mStartTime': 63000000,
   'mTimeUnit': 600000,
   'mWalkTime': 222718,
   'runStep': 37,
   'walkStep': 373},
  {'distance': 12.639999,
   'mCalorie': 0.88,
   'mOthersTime': 0,
   'mRunTime': 0,
   'mStartTime': 63600000,
   'mTimeUnit': 600000,
   'mWalkTime': 9338,
   'runStep': 0,
   'walkStep': 14},
  {'distance': 83.979996,
   'mCalorie': 4.33,
   'mOthersTime': 0,
   'mRunTime': 0,
   'mStartTime': 70800000,
   'mTimeUnit': 600000,
   'mWalkTime': 72036,
   'runStep': 0,
   'walkStep': 108},
  {'distance': 24.19,
   'mCalorie': 1.83,
   'mOthersTime': 0,
   'mRunTime': 800,
   'mStartTime': 71400000,
   'mTimeUnit': 600000,
   'mWalkTime': 4669,
   'runStep': 2,
   'walkStep': 7},
  {'distance': 26.420002,
   'mCalorie': 1.3599999,
   'mOthersTime': 0,
   'mRunTime': 0,
   'mStartTime': 73200000,
   'mTimeUnit': 600000,
   'mWalkTime': 22678,
   'runStep': 0,
   'walkStep': 34},
  {'distance': 597.04,
   'mCalorie': 31.52,
   'mOthersTime': 0,
   'mRunTime': 4393,
   'mStartTime': 73800000,
   'mTimeUnit': 600000,
   'mWalkTime': 471398,
   'runStep': 12,
   'walkStep': 756},
  {'distance': 175.88,
   'mCalorie': 9.799999,
   'mOthersTime': 0,
   'mRunTime': 5200,
   'mStartTime': 74400000,
   'mTimeUnit': 600000,
   'mWalkTime': 133400,
   'runStep': 13,
   'walkStep': 200},
  {'distance': 5.75,
   'mCalorie': 0.28,
   'mOthersTime': 0,
   'mRunTime': 0,
   'mStartTime': 75000000,
   'mTimeUnit': 600000,
   'mWalkTime': 4669,
   'runStep': 0,
   'walkStep': 7},
  {'distance': 687.4538,
   'mCalorie': 37.021503,
   'mOthersTime': 0,
   'mRunTime': 0,
   'mStartTime': 76200000,
   'mTimeUnit': 600000,
   'mWalkTime': 566013,
   'runStep': 36,
   'walkStep': 916},
  {'distance': 158.03616,
   'mCalorie': 8.508492,
   'mOthersTime': 0,
   'mRunTime': 0,
   'mStartTime': 76800000,
   'mTimeUnit': 600000,
   'mWalkTime': 129602,
   'runStep': 0,
   'walkStep': 118},
  {'distance': 6.9700003,
   'mCalorie': 0.35999998,
   'mOthersTime': 0,
   'mRunTime': 0,
   'mStartTime': 82200000,
   'mTimeUnit': 600000,
   'mWalkTime': 6003,
   'runStep': 0,
   'walkStep': 9},
  {'distance': 23.97,
   'mCalorie': 1.5799999,
   'mOthersTime': 0,
   'mRunTime': 1200,
   'mStartTime': 82800000,
   'mTimeUnit': 600000,
   'mWalkTime': 10672,
   'runStep': 3,
   'walkStep': 16},
  {'distance': 17.689999,
   'mCalorie': 1.1200001,
   'mOthersTime': 0,
   'mRunTime': 400,
   'mStartTime': 83400000,
   'mTimeUnit': 600000,
   'mWalkTime': 10672,
   'runStep': 1,
   'walkStep': 16}],
 1]

In [46]:
pd.DataFrame(data['mAdaptiveGoal'])

ValueError: DataFrame constructor not properly called!

In [50]:
pd.DataFrame(data['mUnitDataList'])

,distance,mCalorie,mOthersTime,mRunTime,mStartTime,mTimeUnit,mWalkTime,runStep,walkStep
0,39.049995,2.080000,0,1200,22200000,600000,30015,3,45
1,7.070000,0.340000,0,0,24000000,600000,5336,0,8
2,108.380000,5.780000,0,0,25200000,600000,96048,0,144
3,674.769960,35.629997,0,0,25800000,600000,523385,0,891
4,7.370000,0.490000,0,0,26400000,600000,5336,0,8
5,287.800000,15.709999,0,0,27600000,600000,252733,0,385
6,394.400000,20.599998,0,660,28200000,600000,304706,2,503
7,249.079990,13.259999,0,7463,28800000,600000,152557,24,278
8,33.789997,2.040000,0,0,33000000,600000,26013,0,39
9,5.520000,0.280000,0,0,34200000,600000,4669,0,7
10,31.369999,1.740000,0,0,34800000,600000,28681,0,43
11,11.709999,0.540000,0,0,37200000,600000,9338,0,14
12,32.410000,1.680000,0,0,37800000,600000,28014,0,42
13,35.100000,1.840000,0,0,38400000,600000,30682,0,46
14,57.090004,3.050000,0,0,39600000,600000,50692,0,76
15,138.860000,7.470000,0,0,40200000,600000,118696,0,186
16,155.409990,8.130000,0,0,41400000,600000,135401,0,203
17,54.910004,2.780000,0,0,42000000,600000,46023,0,69
18,5.130000,0.290000,0,0,42600000,600000,4669,0,7
19,57.679996,2.910000,0,0,44400000,600000,48691,0,73
20,157.830020,8.219995,0,0,48600000,600000,136735,0,205
21,571.840150,28.769987,0,0,49200000,600000,475541,0,717
22,167.360060,8.449997,0,0,49800000,600000,126700,0,211
23,9.450000,0.480000,0,0,50400000,600000,8004,0,12
24,135.279980,7.130000,0,0,52200000,600000,118059,0,177
25,163.050000,8.590000,0,0,52800000,600000,142071,0,213
26,34.030000,2.010000,0,400,54600000,600000,27347,1,41
27,27.070000,1.350000,0,0,55800000,600000,22678,0,34
28,104.240000,5.650000,0,0,56400000,600000,92713,0,139
29,247.950000,15.200000,0,17600,57000000,600000,160080,44,240
30,27.789999,1.390000,0,0,58200000,600000,22678,0,34
31,146.000000,7.719999,0,1200,62400000,600000,122728,3,184
32,329.310000,18.400000,0,14800,63000000,600000,222718,37,373
33,12.639999,0.880000,0,0,63600000,600000,9338,0,14
34,83.979996,4.330000,0,0,70800000,600000,72036,0,108
35,24.190000,1.830000,0,800,71400000,600000,4669,2,7
36,26.420002,1.360000,0,0,73200000,600000,22678,0,34
37,597.040000,31.520000,0,4393,73800000,600000,471398,12,756
38,175.880000,9.799999,0,5200,74400000,600000,133400,13,200
39,5.750000,0.280000,0,0,75000000,600000,4669,0,7
40,687.453800,37.021503,0,0,76200000,600000,566013,36,916
41,158.036160,8.508492,0,0,76800000,600000,129602,0,118
42,6.970000,0.360000,0,0,82200000,600000,6003,0,9
43,23.970000,1.580000,0,1200,82800000,600000,10672,3,16
44,17.689999,1.120000,0,400,83400000,600000,10672,1,16

In [33]:
with open('./samsunghealth_821086531644_201902021145/jsons/com.samsung.shealth.step_daily_trend/0a60246d-7150-429e-85e6-6b4c9d9324e6.binning_data.json') as f:
    data = json.load(f)
    
pd.DataFrame(data).head()

     calorie  count    distance     speed
0   0.000000      0    0.000000  0.000000
1   0.000000      0    0.000000  0.000000
2   0.000000      0    0.000000  0.000000
3  23.240001    582  447.009993  5.062673
4   2.550000     64   48.959999  5.100000

In [32]:
with open('./samsunghealth_821086531644_201902021145/jsons/com.samsung.shealth.step_daily_trend/0a60246d-7150-429e-85e6-6b4c9d9324e6.binning_data.json') as f:
    data = json.load(f)

pd.DataFrame(data).head()

     calorie  count    distance     speed
0   0.000000      0    0.000000  0.000000
1   0.000000      0    0.000000  0.000000
2   0.000000      0    0.000000  0.000000
3  23.240001    582  447.009993  5.062673
4   2.550000     64   48.959999  5.100000